<div class="course-comp" id="<%- course.id_Cour %>">
    <a href="/cursos/info/id=<%- course.id_Cour %>">
        <img class="img-course-comp" src="<%- course.image_Cour %>" alt="Capa do cursos">
        <button class="button-blue" href="/cursos/info/id=<%- course.id_Cour %>"> Ver mais </button>
    </a>
</div>
