<label for="email">Digite seu email:</label>
<input id="email" type="email" name="email">

<label for="password">Digite sua senha:</label>
<input id="password" type="password" name="password">

<button>ENTRAR</button>